*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: "Montserrat", sans-serif;
}
input{
    font-family: inherit;
}

.top{
    height: 735px;
    background-image: url(./img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-catalog{
    height: 400px;
    background-image: url(./img/topback-catalog.jpeg);
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
    height: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

}

.header__input{
    width: 288px;
    height: 41px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color:#FFFFFF;
    padding-left: 32px;
    padding-right: 32px;
}

.header__input::placeholder{
    color: #FFFFFF;
}

.navigation{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.navigation__link{
    font-size: 16px;
    line-height: 20px;
    padding-left: 0%;
    color: #FFFFFF;
    display: inline-block;
}

.navigation__link:hover{
    text-decoration: underline;
}

.navigation-mobile{
    display: none;
}

.top__main-heading{
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    color: #FFFFFF;
    max-width: 792px;
}

.top__main-heading-catalog{
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 128px;
    height: 140px;
    color: #FFFFFF;
}

.top__slogan{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.top__go-to-catalog{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: underline;
}

.top__go-to-catalog:hover{
    text-decoration: none;
}

.for-box{
    padding-top: 64px;
}

.for-box__heading{
    color: #000000;
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
}

.for{
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for__item{
    height: 415px;
    grid-column: span 4;
    color: #FFFFFF;
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for__item--big{
    grid-column: span 6;
}

.for__item-1{
    background-image: url(img/rest.jpeg);
}

.for__item-2{
    background-image: url(img/work.jpeg);
}

.for__item-3{
    background-image: url(img/kitchen.jpeg);
}

.for__item-4{
    background-image: url(img/kidsroom.jpeg);
}

.for__item-5{
    background-image: url(img/bathroom.jpeg);
}

.product-box{
    padding-top: 64px;
}

.product-box__name-block{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
}

.product-box__name-catalog{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 41px;
    max-width: 229px;
    }

.product-box__name-catalog-underline{
    color: #000000;
}

.product-box__name-catalog-underline:hover{
    text-decoration: underline;
}

.product-content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 33px;
    row-gap: 56px;
}

.product-content--catalog{
    row-gap: 61px;
}

.article{
    width: 378px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.article__img{
    width: 100%;
}

.article__icon{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
}

.article:hover .article__icon {
    display: flex;
}

.article__product{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 9px;
}

.article__product-description{
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}

.product-box__price{
    display: flex;
    gap: 32px;
}

.article__price{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.article__price--old{
    text-decoration-line: line-through;
    color: #888888;
}

.link-box{
    margin-top: 39px;
    margin-bottom: 64px;
}

.link-box--catalog{
    margin-top: 42px;
}

.link-box__link{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;
}

.link-box__link:hover{
    color: #888888;
    text-decoration: none;
}

.footer{
    height: 207px;
    background: #F7F6F6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__logo{
    margin-top: 40px;
    margin-right: 214px;

}

.footer__menu-news{
    margin-top: 32px;
    display: flex;
    width: 792px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__menu-contacts{
    display: flex;
    gap: 129px;
}

.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__heading{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.footer__navigation{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__navigation-bottom{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    margin-bottom: 12px;
}

.footer__navigation-bottom:hover{
    text-decoration: underline;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footer__contacts-link:hover{
    text-decoration: underline;
}

.footer__social-networks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.footer__social-icon:hover{
    transition: all 0.7s;
    filter: brightness(0) saturate(100%);
}

.footer__news{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
}

.footer__paragraph{
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.mail{
    width: 260px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #C4C4C4;
    padding-left: 17px;
    padding-right: 17px;
}

button{
    font-family: inherit;
}

.product-box__top{
    display: flex;
    justify-content: space-between;
}

.btn-catalog{
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    max-width: 419px;
}

.filter-btn-block{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.subscribe-btn{
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #DED7D769;
    box-sizing: border-box;
    border-radius: 16px;
    width: 260px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.subscribe-btn:hover{
    transition: all 0.7s;
    color: #FFFFFF;
    background-color:#000000;
}

.filter-btn{
    font-family: inherit;
    width: 182px;
    height: 40px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    appearance: none;
    background-image: url(./img/triangle.svg);
    background-repeat: no-repeat;
    background-position: 140px 16px;
    cursor: pointer;
    text-align: left;
    padding-left: 23px;
}

.filter-form{
    position: absolute;
    z-index: 2;
    top: calc(100% + 14px - 33px);
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 36px;
}

.filter-form__block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 445.5px;
    max-height: 548px;
}

.filter-form__fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    border: none;
    margin-bottom: 32px;
}

.filter-form__legend{
    color: #050505;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 14px;
}

.filter-form__legend--margin{
    margin-bottom: 16px;
}

.filter-form__btn {
    align-self: flex-end;
    max-width: 190px;
    width: 100%;
    @extend .filter-btn;
    width: 190px;
    border: 1px solid rgb(4, 4, 4);
    font-weight: 400;
    background-image: none;
    text-align: center;
    padding-left: 0;
}

.radio {
  display: flex; 
  align-items: center; 
  gap: 14px;
}

.radio__input {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
}

.radio__input:checked + .radio__label::before {
  border-color: #000000;
  background-image: url(./img/checkmark.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.range__input {
  width: 190px; 
  height: 10px;
  overflow: hidden;
  outline: none;
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}

.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.range__slider input {
  position: absolute;
}

.range__label {
  font-size: 14px;
}

.color-checkbox{
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
    min-height: 45px;
    gap: 14px;
}

.single-color{
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-checkbox__input {
  display: none;
}
.color-checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 14px;
  font-size: 14px;
}
.color-checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.color-checkbox__input:checked + .color-checkbox__label::before {
  background-image: url(./img/checkmark.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-color: #000;
}

.color-checkbox__input:checked + .color-checkbox__label--black::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -0.5 8 8' fill='none' stroke='white' stroke-width='0.5' stroke-linecap='round'%3E%3Cpath d='M1 3L3 5L5 1.5'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-color: #000;
}

.color-checkbox__label--white::before{
  background-color: #FFFFFF;
  border-color: #888888;
}

.color-checkbox__label--black::before{
  background-color: #000000;
  border-color: #000000;
}

.color-checkbox__label--gray::before{
  background-color: #737373;
  border-color:#737373;
}

.color-checkbox__label--red::before{
  background-color: #FF0000;
  border-color:#FF0000;
}

.color-checkbox__label--orange::before{
  background-color: #FF7A41;
  border-color:#FF7A41;
}

.color-checkbox__label--yellow::before{
  background-color: #F2CB01;
  border-color:#F2CB01;
}

.color-checkbox__label--green::before{
  background-color: #00BF2A;
  border-color:#00BF2A;
}

.color-checkbox__label--teal::before{
  background-color: #1CCC97;
  border-color:#1CCC97;
}

.color-checkbox__label--lightblue::before{
  background-color: #009FE3;
  border-color:#009FE3;
}

.color-checkbox__label--blue::before{
  background-color: #000AF8;
  border-color:#000AF8;
}

.color-checkbox__label--purple::before{
  background-color: #6710D6;
  border-color:#6710D6;
}

.color-checkbox__label--violet::before{
  background-color: #9D0DB5;
  border-color:#9D0DB5;
}

.color-checkbox__label--lavender::before{
  background-color: #D89AFF;
  border-color:#D89AFF;
}

.color-checkbox__label--pink::before{
  background-color: #FF65A6;
  border-color:#FF65A6;
}

.checkbox{
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
    gap: 14px;
}

.checkbox__input{
   @extend .color-checkbox__input;
}

.checkbox__label{
    @extend .color-checkbox__label;
    padding-left: 28px;
}

.sorting-btn{
    font-family: inherit;
    width: 227px;
    height: 40px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    appearance: none;
    background-image: url(./img/triangle.svg);
    background-repeat: no-repeat;
    background-position: 185px 16px;
    cursor: pointer;
    text-align: left;
    padding-left: 23px;
}

@import 'cart';
@import 'tablet';
@import 'mobile';